.vertical-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.search_input {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.search_input :hover{
  bottom: 3px;
  box-shadow: 0 6px 18px 0 rgba(72, 73, 73, 0.5);
}

.footer {
  line-height: 40px;
  font-size: small;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  padding-left: 27px;
}

.logo_img {
  width: 180px;
  height: 180px;
  margin-top: 80px;
}

.top {
  padding-top: 20px;
  padding-bottom: 12px;
  background: rgba(212, 212, 212, 0.4);
}

.top div {
  display: inline-block;
  vertical-align: bottom;
}

.result_logo_img {
  margin: 0 12px;
}

.result_logo_img img{
  width: 160px;
  height: 80px;
}